/* Establece el margen y el relleno del cuerpo del documento en 0% */
body {
    margin: 0; /* Asegura que no haya margen externo en el cuerpo */
    padding: 0; /* Asegura que no haya relleno en el cuerpo */
    background-color:#170132; /* Establece el color de fondo */
    display: flex; /* Usa flexbox para organizar el contenido */
    flex-direction: column; /* Organiza los elementos en columnas */
    align-items: center; /* Centra los elementos horizontalmente */
    color: rgb(255, 255, 255);
    min-height: 100vh; /* Establece la altura mínima para ocupar toda la ventana del navegador */
}

nav {
    width: 100%;
    background-color: #17013279;
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(1rem) brightness(3); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(1rem); /* Aplica el desenfoque en navegadores WebKit */
    
}
footer {
    width: 98%;
    background-color: #4f0fa1;
    padding: 1%;
    display: flex; /* Usa flexbox para organizar el contenido */
    flex-direction: column; /* Organiza los elementos en columnas */
    align-items: center; /* Centra los elementos horizontalmente */
}

#ServiciosDL {
    color:#00ffee; /* Establece el color del texto */
    text-decoration: none; /* Quita la subrayado predeterminado */
}
a, button{
    color: rgb(255, 255, 255); /* Establece el color del texto */
    text-decoration: none; /* Quita la subrayado predeterminado */
    font-size: 1.5rem;
    width: 100%;
    text-shadow: 
                -1px -1px 0 #000,  
                1px -1px 0 #000,  
                -1px 1px 0 #000,  
                1px 1px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000; /* Contorno negro más grueso */
}
button{
    border-radius: 3rem;
    margin: .5rem;
    padding: .5rem;
}
button:hover {
    background-color: #8332d3; /* Color de fondo al pasar el cursor */
}
#menu{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 0%;
}
#menu>div>div{
    height: 30%;
    margin: 0%;
    min-width: 10%;
}
nav>p, div {
    margin: 1%;
    display: inline-block;
}

main {
    width: 95%;
    height: 100%;
    text-align: center;
}
.a{
    flex-direction: column; /* Organiza los elementos en columnas */
    align-items: center; /* Centra los elementos horizontalmente */
}
.cambiable:hover {
    background-color: #8332d3; /* Color de fondo al pasar el cursor */
    border-radius: 30%;
}
.contenedor-imagen{
    width: 100%;
    height: 100%;
}
#seccion-0{
    width: 100%;
    height: 100%;
}
.contenedores {
    margin: 0%;
    padding: 1%;
    width: 70%;
    height: 100%;
    border-radius: 1rem;
    display: inline-block; /* Usa flexbox para organizar el contenido */
    align-items: center; /* Centra los elementos horizontalmente */
}
.contenedores-t2,.contenedores-t3 {
    margin: 3%;
    padding: 1%;
    width: 70%;
    height: 100%;
    border-radius: 1rem;
    display: inline-block; /* Usa flexbox para organizar el contenido */
    align-items: center; /* Centra los elementos horizontalmente */
}

#seccion-0>.cj-1{
    width: 100%;
    height: 100%;
}
.cj-1 {
    display: flex;
    font-size: 2rem;
}
.cj-1-e {
    display: flex;
    font-size: 2rem;
}
.cj-1>.cj-2,#c{
    height: auto;
}
#c{
    border: none;
}
#img{
    border-radius: 3rem;
}
.cj-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cj-3{
    display: block;
}
.cj-2>#pp{
    width: 100%;
    height: 70%;
    border-radius: 50%;
    border: #ffffff solid .2rem;
}
.cj-2>#img{
    width: 100%;
    height: 100%;
    border: #ffffff solid .2rem;
}
p{
    font-size: 75%;
}
/* Ajustes responsivos */
@media (max-width: 780px) {
    .cj-1 {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        height: auto;
    }
    .cj-1-e {
        height: auto;
    }
    nav{
        width: 100%;
    }
    .cj-2 {
        width: 100%; /* Ajusta el ancho a 100% en pantallas pequeñas */
        margin: 1rem 0;
    }

    .cj-1-1 {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        height: auto;
    }
    
    

    .cj-2-1{
        width: 100%; /* Ajusta el ancho a 100% en pantallas pequeñas */
        margin: 1rem 0;
    }

    .contenedor-imagen {
        width: 10rem; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
        height: 10rem;
    }
    .oc{
        display: none;
    }
    .marco{
        padding: 3%;
        border: #8332d3 solid .2rem;
        border-radius: 1rem;
    }
}

.cj-1-1 {
    display: flex;
    font-size: 90%;
}
.cj-1-1>.cj-2-1,#c{
    height: auto;
}
.cj-2-1{
    width: 100%;
    height: 100%;
    font-size: 50%;
    border: #8332d3 solid .2rem;
    border-radius: 1rem;
}
.cj-2-w{
    width: 50%;
    height: 50%;
    font-size: 50%;
    border-radius: 1rem;
}
.cj-2-w1{
    width: 15%;
    height: 50%;
    font-size: 50%;
    border-radius: 1rem;
}
.cj-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.cj-2>.cj-4{
    margin-top: 0;
}
.cj-4{
    height: auto;
    font-size:  1rem;
    display: flex; /* Usa flexbox para organizar el contenido */
}
.cj-5{
    display: inline-table;
    width: 100%;
    margin: 2%;
    padding: 1%;
    border: #8332d3 solid .2rem;
    border-radius: 1rem;
    justify-self:end;
    color: rgb(255, 255, 255);
    }
.p-all{
    font-size: 120%;
    margin: 1%;
    padding: 0%;
    text-align: start;
}
.p-all-t2{
    font-size: 130%;
    margin: 1%;
    padding: 0%;
    text-align: justify;
}
#ico{
    width: 20%;
    height: 20%;
}
.C-d {
    color:#00ffee; /* Establece el color del texto */
    text-decoration: none; /* Quita la subrayado predeterminado */
}
.marco>strong>p{
    margin: 1%;
    text-align: justify;
    
}
.marco{
    padding: 3%;
    height: fit-content;
    text-align: justify;
    border: #8332d3 solid .2rem;
    border-radius: 1rem;
}
.start1{
    font-size: 330%;
}
.small{
    display: inline-block;
    height: min-content;
    width: 10%;
    margin: 3%;
}
.zoom:hover{
    width: 15%; /* Tamaño al pasar el cursor */
    height: 15%; /* Altura al pasar el cursor */
}
.xx{
   font-size: 1.7rem;
}
.center{
    display: flex;
    justify-content: center;
}
.inicio{
    justify-content: start;
}
